body {
	margin: 0;
	padding: 0;
	background-color: #68cdd5;
	font-size: small;
	min-width: 320px;
}

header {
	width: 100%;
}
header img {
	margin: 10px;
	height: 40px;
}

.logo {
	text-align: center;
	margin: 40px 0 100px 0;
}
.logo img {
	height: 50px;
}

.description {
	color: white;
	font-size: 1.5em;
	line-height: 1.5;
	height: 200px;
}

.description p {
	text-align: justify;
	width: 80%;
	margin: 0 auto;
}

footer {
	width: 80%;
	margin: 0 auto;
}
footer div {
	width: 80px;
	color: white;
	text-align: center;
	font-size: 1.2em;
}
footer img {
	height: 50px;
}
footer .left {
	float: left;
}
footer .right {
	float: right;
}