body {
  background-color: #eee;
  border: 1px solid #999;
  padding: 20px;
  margin: 20px;
}

img {
  display: block;
  width: 80px;
  height: 80px;
}

aside {
  background-color: white;
  padding: 20px;
}
