body {
  background-color: #444444;
}

body>div {
  background-color: white; 
  width: 890px;
  height: 1386px;
  padding: 0px 50px;
  margin: 30px auto;
}

/* header */
header {
  position: relative;
  border-bottom: 3px solid #938e8c;
  height: 60px;
}

header div.logo {
  background-color: #d45d5c;
  height: 60px;
  width: 110px; 
}

header p.logo-text {
  color: white;
  font-size: 12px;
  margin: 0px;
  padding: 1px 5px;

  position: absolute;
  left: 0px;
  bottom: 0px;
}

header time {
  color: #d45d5c;
  font-size: 12px;
  margin: 0px;
  margin: 1px 5px;

  position: absolute;
  right: 0px;
  bottom: 0px;
}

/* section */
section {
  position: relative;
  height: 1260px;
}

.article1 {
  margin: 35px 0px;
}
div.pc {
  background-image: url(task_1_6_1-pc.png);
  width: 641px;
  height: 301px;
  position: absolute;
  left: 0px;
  top: 0px;
}

div.pc-left {
  background-color: #428d59;
  float: left;
}

div.pc-right {
  background-color: #cc7681;
  float: right;
}

div.pc-left, div.pc-right {
  height: 301px;
  width: 190px;
  opacity: 0.5;
}

div.pc-side {
  width: 202px;
  height: 301px;
  position: absolute;
  right: 0px;
  top: 0px;
  margin-right: 2px;
  padding-top: 10px;
  border-top: 2px solid #cc8091;
}

div.pc-side p.about,div.pc-side p.tech {
  font-size: 13px;
  margin: 0px;
}

p.about span, p.tech span {
  font-size: 18px;
}

p.about {
  width: 50px;
  border-bottom: 2px solid black;
}

p.tech {
  width: 90px;
  border-bottom: 2px solid black;
}

p.about-tech {
  color: #676767;
  font-size: 12px;
  margin-top: 0px;
  width: 215px;
}

p#sevenA {
  color: #75b86b;
  font-size: 116px;
  font-style: italic;
  font-weight: bold;
  margin: 0px;

  position: relative;
  left: -15px;
  top: -10px;
}

#threeCss {
  color: #cc8091;
  font-size: 55px;
  margin: 0px;
}

div.pc-side-bottom {
  position: absolute;
  bottom: 0px;
}

p#css {
  margin: 0px;
  position: absolute;
  bottom: 15px;
  left: 80px;
  font-size: 20px;
  line-height: 0.6;
  color: #cc8091; 
}

p#css span {
  font-size: 12px;
  color: #231815;
}

article.article2 {
  width: 890px;
  height: 170px;
  position: absolute;
  top: 351px;
}

div.what {
  width: 230px;
  height: 170px;
  margin-right: 25px;
  float: left;
}

div.when {
  width: 205px;
  height: 170px;
  margin-right: 20px;
  float: left;
}

div.how {
  width: 410px;
  height: 170px;
  position: absolute;
  right: -10px;
  top: 0px;
}

div.what p:first-child,
div.when p:first-child,
div.how p:first-child {
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 5px;
}

div.what p:first-child {
  color: #418c59;
  width: 42px;
  border-bottom: 2px solid #418c59;
}

div.when p:first-child {
  color: #d2994f;
  width: 45px;
  border-bottom: 2px solid #d2994f;
}

div.how p:first-child {
  color: #cc7680;
  width: 35px;
  border-bottom: 2px solid #cc7680;
}

div.what p:nth-child(even),
div.when p:nth-child(even),
div.how p:nth-child(2)
{
  font-size: 12px;
  margin-top: 0px;
  color: #767777;
}

div.what p:nth-child(even) {
  line-height: 1.2em;
}

div.how p:nth-child(2) {
  line-height: 1.6em;
}

div.how span {
  color: #cd4a48;
  font-style: italic;
}

p.three,
p.four,
p.five {
  color: #767777;
  margin-bottom: 0px;
}

p.four,
p.five {
  margin-top: 0px;
}

article.article3 {
  position: absolute;
  bottom: 40px;
  width: 890px;
  height: 605px;
}

div.bottom-left {
  width: 415px;
  float: left;
}

div.bottom-right {
  width: 458px;
  float: right;
}

div.bottom-left p:first-child {
  font-size: 28px;
  color: #11456b;
  font-weight: bold;
  border-bottom: 2px solid #11456b;
  margin-top: 0px;
  margin-bottom: 20px;
  padding-bottom: 5px;
}

div.bottom-left p:first-child span {
  font-size: 72px;
  font-style: italic;
  color: #f5e327;
}

p.bottom-text {
  margin: 0px;
  text-indent: 2em;
  font-size: 10px;
  line-height: 1.2;
  text-align: justify;
}

p.first-text {
  text-indent: 0em;
}

p.first-text span {
  font-size: 70px;
  color: #f5e327;
  float: left;
  line-height: 0.9;
  margin-right: 8px;
  margin-bottom: 8px;
}

p.first-text img {
  float: right;
  padding: 15px;
  padding-right: 0px;
  padding-bottom: 5px;
}

div.bottom-right div.top {
  position: relative;
  width: 458px;
  height: 257px;
  background-image: url(task_1_6_1-bottom-right.png);
}

div.bottom-right div.top div {
  height: 60px;
  width: 458px;
  opacity: 0.4;
  position: absolute;
  background-color: black;
  bottom: 0px;
  z-index: 0;
}

div.bottom-right div.top p{
  position: absolute;
  bottom: 0px;
  color: white;
  height: 35px;
  font-size: 26px;
  margin: 5px 30px;
  padding: 8px;
  border-left: 3px solid #72b16a;
  z-index: 1;
}

div.bottom-right div.top span {
  color: #72b16a;
  font-style: italic;
  font-size: 18px;
}

div.bottom {
  margin-top: 28px;
  position: relative;
  background-color: #eeedd6;
  padding-top: 25px;
}

div.bottom p.front-end {
  color: #5a5b5b;
  font-size: 16px;
  margin-left: 30px;
}

p.front-end span {
  color: #10446b;
}

div.bottom>div {
  height: 160px;
  position: relative;
  padding-top: 5px;
}

div.left {
  background-color: #d45d5c;
  height: 160px;
  width: 260px;
  margin-right: 0px;
}

div.right {
  width: 130px;
  height: 105px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  color: #5a5b5b;
  text-align: justify;
  padding: 25px 40px 30px 30px;
  font-size: 14px;
  line-height: 1;
  text-indent: 2em;
}

div.right p {
  margin: 0px;
}

span#quotation1 {
  font-family: 黑体;
  font-size: 71px;
  color: #d45d5c;
  position: absolute;
  left: -40px;
  top: 12px;

}

span#quotation2 {
  font-family: 黑体;
  font-size: 71px;
  color: #d45d5c;
  position: absolute;
  right: 2px;
  bottom: -33px;
}

span#zero {
  font-size: 110px;
  color: white;
  float: left;
  margin-left: 15px;
  margin-top: 10px;
  padding-right: 10px;
}

div.left p{
  margin: 0px;
  margin-left: 85px; 
  padding: 15px;
  border-left: 4px solid white;
  position: absolute;
  top: 35px;
  color: white;
  font-size: 12px;
}

div.left p span {
  font-size: 20px;
  font-style: italic;
  font-family: 黑体;
}
/* footer */
footer {
  position: relative;
  height: 60px;
  border-top: 3px solid #938e8c;
}

footer p {
  color: #d45d5c;
  font-size: 12px;
  margin: 0px;
  padding: 0px;

  position: absolute;
  right: 0px;
  top: 0px;
}