body {
	margin: 0;
	padding: 0;
	min-width: 320px;
}

header {
	font-size: 30px;
	color: white;
	background-color: #5fc0cd;
	width: 100%;
	height: 85px;
	text-align: center;
	line-height: 80px;
}

header .left {
	float: left;
	padding-left: 30px;
}

header .right {
	float: right;
	padding-right: 30px;
}